# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment folders
venv/
env/
myenv/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
